{% extends 'base.html' %}

{% block main %}
    <h1>Lista de Funcionário </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista de Funcionários</li>
      </ol>
    </nav>
    {% for funcionario in object_list%}
        {{ funcionario }}
        <a class="btn btn-primary" href="{% url 'edit_funcionarios' funcionario.id  %}">Editar</a><br>
        <a class="btn btn-danger" href="{% url 'delete_funcionarios' funcionario.id  %}">Excluir</a><br>
    {% endfor %}
{% endblock %}