{% extends 'base.html' %}

{% block main %}
    <h1>Lista de Funcionário </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista de Funcionários</li>
      </ol>
    </nav>
    {% for funcionario in object_list%}
        <hr>
        {{ funcionario }}
        <a class="btn btn-primary" href="{% url 'edit_funcionario' funcionario.id  %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'delete_funcionario' funcionario.id  %}">Excluir</a><br>
    {% endfor %}
    <hr>
    <a class="btn btn-info" href="{% url 'create_funcionario' %}">+ Novo</a><br>
{% endblock %}